.primaryOrange{
    color:#ff5403;
}
.primaryBlue{
    color:#84a1ff;
}
.primaryGreen{
    color:rgb(106, 225, 106);
}
.primaryLightBlue{
    color:#6fc2c5;
}
.interestedBg{
    background-color: #cd921e !important;
}
.hireText{
    color:#6fc2c5;
}
.projectCardBg{
    background-color: #212529;
}
.knowMore{
    font-size: 18px;
}
.follow{
    margin-right: 5px;
}
.logo{
    font-size: 25px;
}
.border-none{
    border: none !important;
}
.socialIcon{
    font-size : 25px !important;
    color : white;
    cursor: pointer;
}
.socialIcon:hover{
    color: rgb(48, 144, 147);
}
.emailBtn{
    color: black !important;
    background-color: #84a1ff !important;
    border: 2px solid #84a1ff !important;
}
.resumeBtn{
    color: black !important;
    background-color: #ff5403 !important;
    border: 2px solid #ff5403 !important;
}
.seeMoreBtn{
    background-color:transparent !important;
    border: 2px solid white !important;
}
.emailBtn:hover{
    border: 2px solid #84a1ff !important;
    background-color: transparent !important;
    color: #7e9cfd !important;
}
.resumeBtn:hover{
    border: 2px solid #ff5403 !important;
    background-color: transparent !important;
    color:#ff5403 !important;
}
.seeMoreBtn:hover{
    background-color:white !important;
    color: black !important;
}
.hoverGrey:hover{
    background-color: lightgrey !important;
}
.hoverBlack:hover{
    color: black !important;
}

@media screen and (max-width: 767px) {
    .center{
        text-align: center !important;
    }
    .socialIcon{
        font-size : 20px !important;
    }
    .btnDiv{
        display: flex !important;
        justify-content: space-around !important;
    }
}